<div class="container">
	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="pull-left">Your Assignments</h4>
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default" ng-click="ctrl.filter=''">All</button>
								<button type="button" class="btn btn-primary" ng-click="ctrl.filter='Todo'">Todo</button>
								<button type="button" class="btn btn-warning" ng-click="ctrl.filter='In Progress'">In Progress</button>
								<button type="button" class="btn btn-danger" ng-click="ctrl.filter='OverDue'">OverDue</button>
								<button type="button" class="btn btn-success" ng-click="ctrl.filter='Done'">Done</button>
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr ng-repeat="item in ctrl.assignments | filter: {'status':ctrl.filter}">
										<td>
											<div class="checkbox">
												<input type="checkbox" id="checkbox1">
												<label for="checkbox1"></label>
											</div>
										</td>
										<td>
											<div class="media">
												<div class="media-body">
													<span class="media-meta pull-right">{{item.dueDate}}</span>
													<h4 class="title">
														{{item.title}}
														<span class="pull-right">{{item.status}}</span>
														<div class="btn-group">
															<button class="pull-right" ng-click="ctrl.setAssignmentStatus({{item.id}}, 'Todo')">Todo</button>
															<button class="pull-right" ng-click="ctrl.setAssignmentStatus({{item.id}}, 'In Progress')">In progress</button>
															<button class="pull-right" ng-click="ctrl.setAssignmentStatus({{item.id}}, 'Done')">Done</button>
														</div>
													</h4>
													<p class="summary">{{item.description}}</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>